
.App {
  background: var(--bodyBg);
  font-family: var(--bodyFont);
  color: var(--textColor);
  line-height: 1.5;
  display: flex;
  flex-direction: row;

  .app-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &::after {
      background: var(--themeColor);
      content: " ";
      display: block;
      height: 320px;
      right: 0;
      position: absolute;
      top: 0;
      width: calc(100% - 240px);
      z-index: 0;
      border-bottom-left-radius: 70% 15%;
      border-bottom-right-radius: 70% 15%;
    }

    .home-container {
      margin-left: auto;
      margin-right: auto;
      width: 1000px;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }
}